@model ProductViewModel

<template>
    <td id="@Model.Id-name" hx-swap-oob="true">
        <input name="Name" value="@Model.Name" />
        <div>
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
    </td>

    <td id="@Model.Id-desc" hx-swap-oob="true">
        <input name="Description" value="@Model.Description" />
    </td>

    <td id="@Model.Id-price" hx-swap-oob="true">
        <input name="Price" value="@Model.Price" />
        <div>
            <span asp-validation-for="Price" class="text-danger"></span>
        </div>
    </td>

    <td id="@Model.Id-action" hx-swap-oob="true">
        <button hx-put="/Product/Edit/@Model.Id"
                hx-include="closest tr">
            Save
        </button>

        <button hx-get="/Product/ReadOnly/@Model.Id">Cancel</button>
    </td>
</template>

