@model ProductViewModel

<template>
    <td id="@Model.Id-name" hx-swap-oob="true">@Model.Name</td>
    <td id="@Model.Id-desc" hx-swap-oob="true">@Model.Description</td>
    <td id="@Model.Id-price" hx-swap-oob="true">$@Model.Price</td>
    <td id="@Model.Id-action" hx-swap-oob="true">
        <button hx-get="/Product/Edit/@Model.Id">Edit</button>
        <button hx-delete="/Product/Delete/@Model.Id"
                hx-confirm="Are you sure?"
                hx-target="closest tr"
                hx-swap="outerHTML">
            Delete
        </button>
    </td>
</template>